[submodule "external/YServer"]
	path = external/YServer
	url = https://github.com/YSocialTwin/YServer.git

[submodule "external/YClient1"]
	path = external/YClient
	url = https://github.com/YSocialTwin/YClient.git
[submodule "external/YClientReddit"]
	path = external/YClientReddit
	url = git@github.com:YSocialTwin/YClientReddit.git
[submodule "external/YServerReddit"]
	path = external/YServerReddit
	url = git@github.com:YSocialTwin/YServerREddit.git
