{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">

            <div class="columns">
                <div class="column is-12">

                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Available Agents</h3>

                        <div class="box-content">


                            <div id="table"></div>

                            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                            <script>
                                const tableDiv = document.getElementById('table');

                                const updateUrl = (prev, query) => {
                                    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
                                };

                                const editableCellAttributes = (data, row, col) => {
                                    if (row) {
                                        return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
                                    } else {
                                        return {};
                                    }
                                };

                                new gridjs.Grid({
                                    columns: [
                                        {id: 'id', 'hidden': true},
                                        {id: 'name', name: 'Name', 'attributes': editableCellAttributes},
                                        {id: 'age', name: 'Age', sort: false},
                                        {id: 'gender', name: 'Gender', sort: false},
                                        {id: 'nationality', name: 'Nationality', sort: false},
                                        {
                                            id: 'details', name: 'Details', sort: false, formatter: (cell, row) => {
                                                return gridjs.html(`<a href="/admin/agent_details/${row.cells[0].data}">Details</a>`);
                                            }
                                        },
                                    ],
                                    server: {
                                        url: '/admin/agents_data',
                                        then: results => results.data,
                                        total: results => results.total,
                                    },
                                    search: {
                                        enabled: true,
                                        server: {
                                            url: (prev, search) => {
                                                return updateUrl(prev, {search});
                                            },
                                        },
                                    },
                                    sort: {
                                        enabled: true,
                                        multiColumn: true,
                                        server: {
                                            url: (prev, columns) => {
                                                const columnIds = ['id', 'name', 'age', 'gender', 'nationality'];
                                                const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                                                return updateUrl(prev, {sort});
                                            },
                                        },
                                    },
                                    pagination: {
                                        enabled: true,
                                        server: {
                                            url: (prev, page, limit) => {
                                                return updateUrl(prev, {start: page * limit, length: limit});
                                            },
                                        },
                                    },
                                }).render(tableDiv);

                                let savedValue;

                                tableDiv.addEventListener('focusin', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        savedValue = ev.target.textContent;
                                    }
                                });

                                tableDiv.addEventListener('focusout', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (savedValue !== ev.target.textContent) {
                                            fetch('/admin/agents_data', {
                                                method: 'POST',
                                                headers: {'Content-Type': 'application/json'},
                                                body: JSON.stringify({
                                                    id: ev.target.dataset.elementId,
                                                    [ev.target.dataset.columnId]: ev.target.textContent
                                                }),
                                            });
                                        }
                                        savedValue = undefined;
                                    }
                                });

                                tableDiv.addEventListener('keydown', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (ev.key === 'Escape') {
                                            ev.target.textContent = savedValue;
                                            ev.target.blur();
                                        } else if (ev.key === 'Enter') {
                                            ev.preventDefault();
                                            ev.target.blur();
                                        }
                                    }
                                });
                            </script>

                        </div>
                    </div>

                </div>

            </div>

            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->
                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Create Agent</h3>
                        <div class="box-content">
                            <form action="/admin/create_agent" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">
                                    <b>Simulation Configuration</b>
                                    <div class="box-line">
                                        <span class="left">LLM</span>
                                        <div class="select">
                                            <select name="user_type">
                                                <option value=""></option>
                                                    {% for model in models %}
                                                    <option value="{{ model }}">{{ model }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Content RecSys</span>
                                        <div class="select">
                                            <select name="recsys_type">
                                               {% for recsys in crecsys %}
                                                <option value="{{recsys.name}}">{{recsys.value}}</option>
                                                {% endfor %}
                                                 </select>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Friendship RecSys</span>
                                        <div class="select">
                                            <select name="frecsys_type">
                                                {% for recsys in frecsys %}
                                                <option value="{{recsys.name}}">{{recsys.value}}</option>
                                                {% endfor %}
                                                 </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Target Population</span>
                                        <div class="select">
                                            <select name="population">
                                                <option value="none"></option>
                                                {% for population in populations %}
                                                <option value="{{ population.id }}">{{ population.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                    <hr>
                                    <b>Demographic Information</b>
                                    <div class="box-line">
                                        <span class="left">Agent Name</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="name"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Profile Picture URL <small>(optional)</small></span>
                                        <span class="right" style="width: 70%;"><input type="text" name="profile_pic"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Age</span>
                                        <div class="slider-timeline">
                                            <input name="age" type="range" value="24" min="1" max="100"
                                                   oninput="this.nextElementSibling.value = this.value">
                                            <output>24</output>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Gender</span>
                                        <div class="select">
                                            <select name="gender">
                                                <option value=""></option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Language Spoken</span>
                                        <span class="right">
                                            <div class="select">
                                                <select name="language">
                                                    {% for language in languages %}
                                                    <option value="{{ language.language }}">{{ language.language }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                           </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Profession</span>
                                        <span class="right">
                                            <div class="select">
                                                <select name="profession">
                                                    <option value=""></option>
                                                    {% for profession in professions %}
                                                    <option value="{{ profession.profession }}">{{ profession.profession }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                           </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Nationality</span>
                                        <div class="select">
                                            <select name="nationality">
                                                <option value=""></option>
                                                {% for nationality in nationalities %}
                                                <option value="{{nationality.nationality}}">{{nationality.nationality}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Education Level</span>
                                        <div class="select">
                                            <select name="education_level">
                                                <option value=""></option>
                                                {% for education in education_levels %}
                                                <option value="{{education.education_level}}">{{education.education_level}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>

                                    <b>Thematic Characterization</b>
                                    <div class="box-line">
                                        <span class="left">Political Leaning</span>
                                        <div class="select">
                                            <select name="leaning">
                                                <option value=""></option>
                                                {% for leaning in leanings %}
                                                <option value="{{ leaning.leaning }}">{{ leaning.leaning }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="box-line">
                                        <span class="left">Interests </span>
                                        <span class="right" style="width: 70%;">

                                            <div class="tags-input" style="width: 100%;">
                                            <ul id="tags"></ul>
                                            <input type="hidden" id="tags-hidden" name="tags">
                                            <input type="text" id="input-tag" placeholder="Enter interest name" style="width: 100%;"/>
                                        </div>

                                        <script>

                                            const tags = document.getElementById('tags');
    const input = document.getElementById('input-tag');
    const hiddenInput = document.getElementById('tags-hidden');
    const tagList = [];

    input.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const tagContent = input.value.trim();
            if (tagContent !== '' && !tagList.includes(tagContent)) {
                tagList.push(tagContent);
                const tag = document.createElement('li');
                tag.innerHTML = `${tagContent} <button class="delete-button">X</button>`;
                tags.appendChild(tag);
                hiddenInput.value = tagList.join(',');
                input.value = '';
            }
        }
    });

    tags.addEventListener('click', function (event) {
        if (event.target.classList.contains('delete-button')) {
            const tagText = event.target.parentNode.textContent.slice(0, -1);
            tagList.splice(tagList.indexOf(tagText), 1);
            hiddenInput.value = tagList.join(',');
            event.target.parentNode.remove();
        }
    });
                                        </script>

                                        </span>
                                    </div> -->

                                    <hr>

                                    <b>Big Five Personality profile</b>
                                    <div class="box-line">
                                        <span class="left">Openness to Experience</span>
                                        <div class="select">
                                            <select name="oe">
                                                <option value=""></option>
                                                <option value="inventive/curious">Inventive/Curious</option>
                                                <option value="consistent/cautious">Consistent/Cautious</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Conscientiousness</span>
                                        <div class="select">
                                            <select name="co">
                                                <option value=""></option>
                                                <option value="efficient/organized">Efficient/Organized</option>
                                                <option value="extravagant/careless">Extravagant/Careless</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Extraversion</span>
                                        <div class="select">
                                            <select name="ex">
                                                <option value=""></option>
                                                <option value="outgoing/energetic">Outgoing/Energetic</option>
                                                <option value="solitary/reserved">Solitary/Reserved</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Agreeableness</span>
                                        <div class="select">
                                            <select name="ag">
                                                <option value=""></option>
                                                <option value="friendly/compassionate">Friendly/Compassionate</option>
                                                <option value="critical/judgmental">Critical/Judgmental</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Neuroticism</span>
                                        <div class="select">
                                            <select name="ne">
                                                <option value=""></option>
                                                <option value="sensitive/nervous">Sensitive/Nervous</option>
                                                <option value="resilient/confident">Resilient/Confident</option>
                                            </select>
                                        </div>
                                    </div>

                                    <hr>
                                    <b>Expected Social Behavior</b>
                                    <div class="box-line">
                                        <span class="left">Toxicity Level</span>
                                        <div class="select">
                                            <select name="toxicity">
                                                <option value="none"></option>
                                                <option value="low">Low</option>
                                                <option value="medium">Medium</option>
                                                <option value="high">High</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="box-line">
                                        <span class="left">Expected Activity</span>
                                        <div class="select">
                                            <select name="daily_user_activity">
                                                <option value=1>Low</option>
                                                <option value=2>Medium-Low</option>
                                                <option value=3>Medium</option>
                                                <option value=4>Medium-High</option>
                                                <option value=5>High</option>
                                            </select>
                                        </div>
                                    </div>

                                    <hr>
                                    <b>Advanced Role-Playing</b>
                                    <div class="box-line">
                                        <span class="left">
                                    Specifying the agent pre-prompt overrides the other configuration variables.
                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Alternative profile</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="alt_profile"
                                                                                       class="input" value=""></span>
                                    </div>

                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Dashboard box-->
                </div>
                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Box-->
                    <div class="dashboard-box is-compact">
                        <h3 class="title is-5 is-thin">Guide</h3>
                        <div class="help-block">

                            <p>
                                <b>Synthetic Agents</b>
                                are virtual entities that can be used in simulations to represent
                                social media users. They can be configured with different demographic information,
                                interests, and personality traits.
                            </p>
                            <br>


                            <p>
                                <b>Profiles vs. Advanced Roleplay.</b><br>
                                The agent profile is a set of predefined characteristics that can be used to specify its behavior (trough LLM pre-prompts).
                                <br><br>
                                The advanced roleplay allows to specify a custom pre-prompt that <em>overrides</em> the other configuration variables.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}