{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">

            <div class="columns">
                <div class="column is-12">
                    <div class="dashboard-box">
                        <a href="/admin/experiments">Experiments</a> > Simulation: <a href="/admin/experiment_details/{{ experiment.idexp }}">{{ experiment.exp_name }} </a> > Create New Client
                    </div>
                </div>
            </div>

            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->

                     {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}



                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">New Client</h3>
                        <div class="box-content">
                            <form action="/admin/create_client" enctype="multipart/form-data"
                                  method="POST">
                                <div class="box-lines">
                                    <input type="hidden" name="id_exp" value="{{ experiment.idexp }}">

                                    <div class="box-line">
                                        <span class="left">Name</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="name"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Description</span>
                                        <span class="right" style="width: 70%;"><input type="textarea"
                                                                                       name="descr"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Population</span>
                                        <div class="select">
                                            <select name="population_id">
                                                <option value=""></option>
                                                    {% for pop in populations %}
                                                    <option value="{{ pop.id }}">{{ pop.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4><b>Simulation Parameters</b></h4>
                                    <div class="box-line">
                                        <span class="left">Simulation Length (days)</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="days"
                                                                                       class="input"
                                                                                       value="30"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">% New Agents (daily)</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="percentage_new_agents_iteration"
                                                                                       class="input"
                                                                                       value="0"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">% Daily Churn</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="percentage_removed_agents_iteration"
                                                                                       class="input"
                                                                                       value="0"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Thread Context Length</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="max_length_thread_reading"
                                                                                       class="input"
                                                                                       value="5"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Timeline Follower Ratio</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="reading_from_follower_ratio"
                                                                                       class="input"
                                                                                       value="0.6"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Probability Daily Follow</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="probability_of_daily_follow"
                                                                                       class="input"
                                                                                       value="0.1"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Probability Secondary Follow</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="probability_of_secondary_follow"
                                                                                       class="input"
                                                                                       value="0.0"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Agents' Memory (hours)</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="attention_window"
                                                                                       class="input"
                                                                                       value="336"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Content Visibility (hours)</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="visibility_rounds"
                                                                                       class="input"
                                                                                       value="36"></span>
                                    </div>
                                    <hr>
                                    <h4><b>Agents' Actions Relevance</b></h4>
                                    All actions are scored from 0 to 10, where 0 means that the action is never performed. <br>
                                    Scores greater than 0 are relative to each other. For example, if "Post new content" has a score of 3
                                    and "Comment a Post" has a score of 6, then the agent will comment twice as much as posting new content.
                                    <br><br>
                                    <div class="box-line">
                                        <span class="left">Post new content</span>
                                        <span class="right" style="width: 70%;">
                                            <!--<input type="text" name="post" class="input"  value="0.2">-->
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box selected" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="post" id="post" value="3">
                                            </div>
                                        </span>
                                    </div>
                                    {% if experiment.platform_type == "microblogging" %}
                                    <div class="box-line">
                                        <span class="left">Share and comment an Image</span>
                                        <!--<span class="right" style="width: 70%;"><input type="text" name="image"
                                                                                       class="input"
                                                                                       value="0"></span>-->
                                        <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box selected" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="image" id="image" value="0">
                                            </div>

                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Comment on a News</span>
                                       <!-- <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="news"
                                                                                       class="input"
                                                                                       value="0"></span> -->
                                        <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box selected" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="news" id="news" value="0">
                                            </div>

                                        </span>
                                    </div>
                                    {% endif %}
                                    <div class="box-line">
                                        <span class="left">Comment a Post</span>
                                        <!--<span class="right" style="width: 70%;"><input type="text"
                                                                                       name="comment"
                                                                                       class="input"
                                                                                       value="0.5"></span> -->
                                         <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box selected" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="comment" id="comment" value="5">
                                            </div>

                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Read a content</span>
                                        <!-- <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="read"
                                                                                       class="input"
                                                                                       value="0.2"></span> -->
                                        <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box selected" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="read" id="read" value="2">
                                            </div>

                                        </span>

                                    </div>
                                    {% if experiment.platform_type == "microblogging" %}
                                    <div class="box-line">
                                        <span class="left">Share News from a Page</span>
                                        <!-- <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="share"
                                                                                       class="input"
                                                                                       value="0"></span> -->
                                         <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box selected" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="share" id="share" value="0">
                                            </div>

                                        </span>
                                    </div>
                                    {% endif %}
                                    <div class="box-line">
                                        <span class="left">Search a Hashtag</span>
                                       <!-- <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="search"
                                                                                       class="input"
                                                                                       value="0.1"></span> -->
                                        <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box" data-value="0">0</div>
                                                  <div class="number-box selected" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="search" id="search" value="1">
                                            </div>

                                        </span>
                                    </div>
                                    {% if experiment.platform_type == "microblogging" %}
                                    <div class="box-line">
                                        <span class="left">Cast Vote</span>
                                        <!-- <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="vote"
                                                                                       class="input"
                                                                                       value="0"></span> -->
                                        <span class="right" style="width: 70%;">
                                            <div class="scale-wrapper">
                                            <div class="number-scale">
                                                  <div class="number-box selected" data-value="0">0</div>
                                                  <div class="number-box" data-value="1">1</div>
                                                  <div class="number-box" data-value="2">2</div>
                                                  <div class="number-box" data-value="3">3</div>
                                                  <div class="number-box" data-value="4">4</div>
                                                  <div class="number-box" data-value="5">5</div>
                                                  <div class="number-box" data-value="6">6</div>
                                                  <div class="number-box" data-value="7">7</div>
                                                  <div class="number-box" data-value="8">8</div>
                                                  <div class="number-box" data-value="9">9</div>
                                                  <div class="number-box" data-value="10">10</div>
                                            </div>
                                            <input type="hidden" name="vote" id="vote" value="0">
                                            </div>

                                        </span>
                                    </div>
                                    {% endif %}
                                    {% if experiment.platform_type == "forum" %}
                                    <div class="box-line">
                                        <span class="left">Share Link</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="share_link"
                                                                                       class="input"
                                                                                       value="0"></span>
                                    </div>
                                    {% endif %}
                                    <hr>
                                    <h4><b>Large Language Models</b></h4>
                                    <div class="box-line">
                                        <span class="left">LLM Server URL</span>
                                        <span class="right" style="width: 70%;">
                                            <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 5px;">
                                                <input type="text" id="custom_llm_url_client" name="llm" class="input" placeholder="e.g., localhost:8000" value="http://127.0.0.1:11434/v1" style="flex: 1;">
                                                <button type="button" class="button is-solid primary-button" onclick="fetchModelsForClient()">
                                                    Fetch Models
                                                </button>
                                            </div>
                                            <div id="llm_url_status_client" style="min-height: 24px; font-size: 0.9rem;"></div>
                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">LLM Model</span>
                                        <div class="select">
                                            <select name="user_type" id="models_select_client">
                                                <option value=""></option>
                                                {% for model in models %}
                                                <option value="{{ model }}">{{ model }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">API Key</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_api_key"
                                                                                       class="input"
                                                                                       value="NULL"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Max tokens</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_max_tokens"
                                                                                       class="input"
                                                                                       value="-1"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Temperature</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_temperature"
                                                                                       class="input"
                                                                                       value="1.5"></span>
                                    </div>
                                    <hr>
                                    <h4><b>Large Language Models (Image Transcription)</b></h4>
                                    <div class="box-line">
                                        <span class="left">LLM Model</span>
                                        <span class="right" style="width: 70%;">minicpm-v:latest<input  type="hidden"
                                                                                       name="llm_v_agent"
                                                                                       id="llm_v_agent"
                                                                                       class="input"
                                                                                       value="minicpm-v"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">LLM Server URL</span>
                                        <span class="right" style="width: 70%;">
                                            <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 5px;">
                                                <input type="text" id="custom_llm_url_v_client" name="llm_v" class="input" placeholder="e.g., localhost:8000" value="http://127.0.0.1:11434/v1" style="flex: 1;">
                                                <button type="button" class="button is-solid primary-button" onclick="validateImageLLMModel()">
                                                    Validate Model
                                                </button>
                                            </div>
                                            <div id="llm_v_url_status_client" style="min-height: 24px; font-size: 0.9rem;"></div>
                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">API Key</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_v_api_key"
                                                                                       class="input"
                                                                                       value="NULL"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Max tokens</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_v_max_tokens"
                                                                                       class="input"
                                                                                       value="300"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Temperature</span>
                                        <span class="right" style="width: 70%;"><input type="text"
                                                                                       name="llm_v_temperature"
                                                                                       class="input"
                                                                                       value="0.5"></span>
                                    </div>
                                    <input type="hidden" id="llm_v_validation_status" value="false">
                                    <div id="image_action_warning" style="padding: 10px; margin: 10px 0; background-color: #fff3cd; border: 1px solid #ffc107; border-radius: 4px; color: #856404;">
                                        <i class="mdi mdi-alert"></i> <strong>Notice:</strong> Image sharing/commenting is currently disabled. Please validate that the minicpm-v:latest model is available on your server to enable this feature.
                                    </div>

                                </div>
                                <div class="button-wrap">
                                    <button id="create_client_button" class="button is-solid primary-button is-fullwidth" disabled>
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Box-->
                    <div class="dashboard-box is-compact">
                        <h3 class="title is-5 is-thin">Guide</h3>
                        <div class="help-block">
                            <h4>What is an Experiment?</h4>
                            <p>
                                An experiment is the (active or consolidated) instance of a simulation.
                                It composes of two elements: an SQlite database and the YServer
                                configuration file.
                            </p>
                            <br>

                            <h4>Adding an Experiment</h4>
                            <p>
                                You can either load an existing experiment or create a new one.
                            </p>
                            <br>
                            <h4>Joining an Experiment</h4>
                            <p>
                                Only an active experiments can be joined. A single experiment can be
                                active at a time.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
                                            document.querySelectorAll('.number-scale').forEach(scale => {
                                              const boxes = scale.querySelectorAll('.number-box');
                                              const wrapper = scale.closest('.scale-wrapper');
                                              const hiddenInput = wrapper.querySelector('input[type="hidden"]');

                                              boxes.forEach(box => {
                                                box.addEventListener('click', () => {
                                                  boxes.forEach(b => b.classList.remove('selected'));
                                                  box.classList.add('selected');
                                                  hiddenInput.value = box.dataset.value;
                                                  display.textContent = box.dataset.value;
                                                });
                                              });
                                            });

// Track if models have been fetched and validated
let llmModelsFetched = false;
let llmModelSelected = false;

// Check if form should be enabled
function updateFormButtonState() {
    const submitButton = document.getElementById('create_client_button');
    if (submitButton) {
        submitButton.disabled = !(llmModelsFetched && llmModelSelected);
    }
}

// Fetch models for client LLM configuration
function fetchModelsForClient() {
    const urlInput = document.getElementById('custom_llm_url_client');
    const select = document.getElementById('models_select_client');
    const status = document.getElementById('llm_url_status_client');
    const llmUrl = urlInput.value.trim();
    
    if (!llmUrl) {
        alert('Please enter an LLM server URL');
        return;
    }
    
    status.innerHTML = '<i class="mdi mdi-loading mdi-spin"></i> Fetching...';
    
    fetch(`/admin/api/fetch_models?llm_url=${encodeURIComponent(llmUrl)}`)
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                status.innerHTML = '<span style="color: red;"><i class="mdi mdi-alert"></i> ' + data.error + '</span>';
                llmModelsFetched = false;
                updateFormButtonState();
                setTimeout(() => { status.innerHTML = ''; }, 5000);
            } else {
                select.innerHTML = '<option value="">Select a model</option>';
                data.models.forEach(model => {
                    const option = document.createElement('option');
                    option.value = model;
                    option.textContent = model;
                    select.appendChild(option);
                });
                status.innerHTML = '<span style="color: green;"><i class="mdi mdi-check"></i> ' + data.models.length + ' models loaded</span>';
                llmModelsFetched = true;
                // Reset model selection since we just loaded new models
                llmModelSelected = false;
                updateFormButtonState();
                setTimeout(() => { status.innerHTML = ''; }, 3000);
            }
        })
        .catch(error => {
            status.innerHTML = '<span style="color: red;"><i class="mdi mdi-alert"></i> Connection failed</span>';
            llmModelsFetched = false;
            updateFormButtonState();
            setTimeout(() => { status.innerHTML = ''; }, 5000);
        });
}

// Validate that minicpm-v:latest is available for image transcription
function validateImageLLMModel() {
    const llmVUrlInput = document.getElementById('custom_llm_url_v_client');
    const status = document.getElementById('llm_v_url_status_client');
    const validationStatus = document.getElementById('llm_v_validation_status');
    const llmVUrl = llmVUrlInput.value.trim();
    const modelName = 'minicpm-v:latest';
    
    if (!llmVUrl) {
        alert('Please enter an LLM server URL for image transcription');
        return;
    }
    
    status.innerHTML = '<i class="mdi mdi-loading mdi-spin"></i> Validating...';
    
    fetch(`/admin/api/fetch_models?llm_url=${encodeURIComponent(llmVUrl)}`)
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                status.innerHTML = '<span style="color: red;"><i class="mdi mdi-alert"></i> ' + data.error + '</span>';
                validationStatus.value = 'false';
                disableImageAction();
                alert('Unable to connect to the LLM server. Image sharing/commenting functionality will remain disabled.');
                setTimeout(() => { status.innerHTML = ''; }, 5000);
            } else {
                // Check if minicpm-v:latest model exists in fetched models
                const modelExists = data.models.includes(modelName);
                
                if (modelExists) {
                    status.innerHTML = '<span style="color: green;"><i class="mdi mdi-check"></i> Model "' + modelName + '" found and validated!</span>';
                    validationStatus.value = 'true';
                    enableImageAction();
                    setTimeout(() => { status.innerHTML = ''; }, 3000);
                } else {
                    status.innerHTML = '<span style="color: red;"><i class="mdi mdi-alert"></i> Model "' + modelName + '" not found on this server!</span>';
                    validationStatus.value = 'false';
                    disableImageAction();
                    alert('The minicpm-v:latest model is not available on the specified server. Image sharing/commenting functionality will remain disabled.');
                    // Set llm_v to empty/None to signal model unavailability
                    llmVUrlInput.value = '';
                }
            }
        })
        .catch(error => {
            status.innerHTML = '<span style="color: red;"><i class="mdi mdi-alert"></i> Connection failed</span>';
            validationStatus.value = 'false';
            disableImageAction();
            alert('Failed to connect to the LLM server. Image sharing/commenting functionality will remain disabled.');
            setTimeout(() => { status.innerHTML = ''; }, 5000);
        });
}

// Disable the "Share and comment an Image" action
function disableImageAction() {
    const imageScale = document.getElementById('image');
    const imageScaleWrapper = imageScale ? imageScale.closest('.scale-wrapper') : null;
    const warning = document.getElementById('image_action_warning');
    
    if (imageScaleWrapper) {
        const numberBoxes = imageScaleWrapper.querySelectorAll('.number-box');
        numberBoxes.forEach(box => {
            if (box.dataset.value !== '0') {
                box.style.opacity = '0.3';
                box.style.pointerEvents = 'none';
                box.style.cursor = 'not-allowed';
            }
        });
        
        // Force selection to 0
        numberBoxes.forEach(box => box.classList.remove('selected'));
        numberBoxes[0].classList.add('selected');
        imageScale.value = '0';
    }
    
    if (warning) {
        warning.style.display = 'block';
    }
}

// Enable the "Share and comment an Image" action
function enableImageAction() {
    const imageScale = document.getElementById('image');
    const imageScaleWrapper = imageScale ? imageScale.closest('.scale-wrapper') : null;
    const warning = document.getElementById('image_action_warning');
    
    if (imageScaleWrapper) {
        const numberBoxes = imageScaleWrapper.querySelectorAll('.number-box');
        numberBoxes.forEach(box => {
            box.style.opacity = '1';
            box.style.pointerEvents = 'auto';
            box.style.cursor = 'pointer';
        });
    }
    
    if (warning) {
        warning.style.display = 'none';
    }
}

// On page load, disable image action by default and setup form validation
document.addEventListener('DOMContentLoaded', function() {
    disableImageAction();
    
    // Setup form button state management
    const modelsSelect = document.getElementById('models_select_client');
    const submitButton = document.getElementById('create_client_button');
    
    // Ensure button is disabled initially
    if (submitButton) {
        submitButton.disabled = true;
    }
    
    if (modelsSelect) {
        // Monitor model selection
        modelsSelect.addEventListener('change', function() {
            llmModelSelected = this.value !== '';
            updateFormButtonState();
        });
    }
});
                                            </script>
{% include "admin/footer.html" %}
