{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">

            <div class="columns">
                <div class="column is-12">
                    <div class="dashboard-box">
                        <a href="/admin/experiments">Experiments</a> > Simulation: <a href="/admin/experiment_details/{{ experiment.idexp }}">{{ experiment.exp_name }} </a>  > Client: {{ client.name }}
                    </div>
                </div>
            </div>

            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Dashboard box-->
                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Client</h3>

                        <div class="box-content">
                            <div class="box-lines">
                                <div class="box-line">
                                    <span class="left">Name</span>
                                    <span class="right">{{ client.name }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Description</span>
                                    <span class="right">{{ client.descr }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Population</span>
                                    <span class="right"><a href="/admin/population_details/{{ population.id }}">{{ population.name }}</a></span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Pages</span>

                                    <span class="right">
                                        <ul>
                                        {% for page in pages %}
                                            <li><a href="/admin/page_details/{{ page[0].id }}">{{ page[0].name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </span>
                                </div>

                            </div>
                            <div class="buttons" style="display: flex; justify-content: right">
                                <a class="link-tooltip" href="/admin/download_agent_list/{{ client.id }}" title="Download Agent List"><i
                                     class="mdi mdi-account-star" style="font-size: 24px;"></i></a>
                                <a class="link-tooltip" href="/admin/delete_client/{{ client.id }}" title="Delete"><i
                                     class="mdi mdi-delete" style="font-size: 24px;"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Simulation Parameters</h3>
                        <div class="box-content">
                            <div class="box-lines">
                                <div class="box-line">
                                    <span class="left">Simulation Length (days)</span>
                                    <span class="right">{{ client.days }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">% New Agents (daily)</span>
                                    <span class="right">{{ client.percentage_new_agents_iteration }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">% Daily Churn</span>
                                    <span class="right">{{ client.percentage_removed_agents_iteration }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Thread Context Length</span>
                                    <span class="right">{{ client.max_length_thread_reading }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Timeline Follower Ratio</span>
                                    <span class="right">{{ client.reading_from_follower_ratio }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Probability Daily Follow</span>
                                    <span class="right">{{ client.probability_of_daily_follow }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Agents' Memory (hours)</span>
                                    <span class="right">{{ client.attention_window }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Content Visibility (hours)</span>
                                    <span class="right">{{ client.visibility_rounds }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Global Actions Likelihood</h3>
                        <div class="box-content">
                            <div class="box-lines">
                                <div class="box-line">
                                    <span class="left">Post new content</span>
                                    <span class="right">{{ client.post }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Share and comment an Image</span>
                                    <span class="right">{{ client.image }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Comment on a News</span>
                                    <span class="right">{{ client.news }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Comment a Post</span>
                                    <span class="right">{{ client.comment }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Read a content</span>
                                    <span class="right">{{ client.read }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Share News from a Page</span>
                                    <span class="right">{{ client.share }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Search a Hashtag</span>
                                    <span class="right">{{ client.search }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Cast Vote</span>
                                    <span class="right">{{ client.vote }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box">
                          <h3 class="title is-5 is-thin">LLM</h3>
                        <div class="box-content">
                            <div class="box-lines">
                                <div class="box-line">
                                    <span class="left">LLM Server</span>
                                    <span class="right">{{ client.llm }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">API Key</span>
                                    <span class="right">{{ client.llm_api_key }}</span>
                                </div>

                                <div class="box-line">
                                    <span class="left">Max tokens</span>
                                    <span class="right">{{ client.llm_max_tokens }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Temperature</span>
                                    <span class="right">{{ client.llm_temperature }}</span>
                                </div>
                                <hr>
                                 <h3 class="title is-5 is-thin">LLLM (Image Transcription)</h3>
                                <div class="box-line">
                                    <span class="left">LLM Model</span>
                                    <span class="right">{{ client.llm_v_agent }}</span>
                                </div>
                                 <div class="box-line">
                                    <span class="left">LLM Server</span>
                                    <span class="right">{{ client.llm_v }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">API Key</span>
                                    <span class="right">{{ client.llm_v_api_key }}</span>
                                </div>

                                <div class="box-line">
                                    <span class="left">Max tokens</span>
                                    <span class="right">{{ client.llm_v_max_tokens }}</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Temperature</span>
                                    <span class="right">{{ client.llm_v_temperature }}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!--Dashboard box-->

                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Box-->


                     <div class="dashboard-box">
                        <div class="box-content">
                            <div class="box-lines">
                                <h3 class="title is-5 is-thin">Social Network Structure</h3>
                                <div class="box-line">
                                    <span class="left">Each client can be deployed by imposing a starting social network among the agents of its populations.
                                    <br><br> The network can be either synthetically generated or custom-made and uploaded.
                                        To create a custom network file download the agent name list using
                                        <i class="mdi mdi-account-star" style="font-size: 16px;"></i>
                                    </span>

                                </div>
                                <hr>
                                <div class="box-line">
                                    <span class="left">Type of Network</span>
                                    <span class="right">{{ client.network_type }}</span>
                                </div>
                            </div>
                            <hr>
                            <form action="/admin/set_network/{{ client.id }}" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">
                                    <h4 class="title is-5 is-thin">Set Synthetic Network</h4>

                                    <div class="box-line">
                                        <span class="left">Model</span>
                                        <span class="right">
                                            <div class="select">
                                                <select name="network_model" id="options">
                                                    <option value=""></option>
                                                    <option id="option1" value="ER">Random Network</option>
                                                    <option id="option2" value="BA">Scale Free</option>
                                                </select>
                                            </div>
                                        </span>
                                    </div>

                                    <div class="box-line hidden" id="option1-field" style="display: none">
                                        <span class="left">Rewiring probability</span>
                                        <span class="right">
                                            <input type="text" name="p" class="input" value="0.1">
                                        </span>
                                    </div>
                                    <div class="box-line hidden" id="option2-field"  style="display: none">
                                        <span class="left">Connections per new node</span>
                                        <span class="right">
                                            <input type="text" name="m" class="input" value="2">
                                        </span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                        <button class="button is-solid primary-button is-fullwidth">
                                            Create
                                        </button>
                                    </div>
                            </form>
                            <hr>
                            <form action="/admin/upload_network/{{ client.id }}" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">
                                    <h4 class="title is-5 is-thin">Upload Custom Network</h4>
                                    <div class="box-line">
                                        <span class="left">Edge list file</span>
                                        <span class="right"><input type="file" id="network_file" name="sqlite_filename"
                                                                   class="input_file"></span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                        <button class="button is-solid primary-button is-fullwidth">
                                            Load
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>


                    <script>
                        document.getElementById('options').addEventListener('change', function () {
                            const selectedValue = this.value;

                            // Hide all field groups
                            document.getElementById('option1-field').style.display = 'none';
                            document.getElementById('option2-field').style.display = 'none';

                            // Show the selected field group
                            if (selectedValue === 'ER') {
                                document.getElementById('option1-field').style.display = 'inline-block';
                            } else if (selectedValue === 'BA') {
                                document.getElementById('option2-field').style.display = 'inline-block';
                            }
                        });
                    </script>

                </div>

            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}