{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->

    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->

        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">
            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Dashboard box-->
                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Analytics</h3>
                        <div class="stat-block">
                            <span class="stat-title">Available Simulations</span>
                            <span class="stat-value">839</span>
                        </div>

                        <div class="box-content">
                            <div class="box-lines">
                                <h4 class="topheading">Longest Simulation</h4>
                                <div class="box-line">
                                    <span class="left">Name</span>
                                    <span class="right">3 of 6</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Rounds</span>
                                    <span class="right">2.5k</span>
                                </div>
                            </div>
                            <div class="box-lines">
                                <h4 class="topheading">Most Crowded Simulation</h4>
                                <div class="box-line">
                                    <span class="left">Name</span>
                                    <span class="right">3 of 6</span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Rounds</span>
                                    <span class="right"><span class="positive">+7.8%</span>
                                        </span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Agents</span>
                                    <span class="right"><span class="negative">-2.3%</span>
                                        </span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Posts/Comments</span>
                                    <span class="right"><span>+1.4%</span>
                                        </span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Reactions</span>
                                    <span class="right"><span>+5.1%</span>
                                        </span>
                                </div>
                                <div class="box-line">
                                    <span class="left">Mentions</span>
                                    <span class="right"><span>+5.1%</span>
                                        </span>
                                </div>
                            </div>
                            <div class="link-wrap">
                                <a class="link">
                                    <span>View More</span>
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->

                    <div class="dashboard-box">
                         <h3 class="title is-5 is-thin">Experiment Dashboard</h3>
                        <div class="box-content">
                            <hr style="margin-bottom: 0px;">
                            {% for exp in experiments %}
                            <div class="box-line">
                                <span class="left" style="width: 22%;"><a href="/admin/experiment_details/{{ experiments[exp]['experiment'].idexp }}"><b>{{ experiments[exp]['experiment'].exp_name }}</b></a></span>
                                <span class="right" style="width: 60%;"></span>
                                <span class="right" style="width: 20%;">
                                    <a class="link-tooltip" {% if experiments[exp]['experiment'].running == 0 %} href="/admin/start_experiment/{{ experiments[exp]['experiment'].idexp }}" {% endif %} title="Run">
                                        <i class="mdi mdi-play-box-outline {% if experiments[exp]['experiment'].running %}active{% endif %}" style="font-size: 24px;"></i>
                                    </a>

                                     <a class="link-tooltip" href="/admin/stop_experiment/{{ experiments[exp]['experiment'].idexp }}" title="Stop">
                                        <i class="mdi mdi-stop {% if experiments[exp]['experiment'].running == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                    </a>

                                    <a class="link-tooltip" href="/admin/select_experiment/{{ experiments[exp]['experiment'].idexp }}" title="Load">
                                        <i class="mdi mdi-select-all {% if experiments[exp]['experiment'].status == 1 %}active{%endif%}" style="font-size: 24px;"></i>
                                    </a>
                                    <a class="link-tooltip" {% if experiments[exp]['experiment'].status== 1 %} href="/admin/join_simulation" {% endif %} title="Join" >
                                        <i class="mdi mdi-plus-box {% if experiments[exp]['experiment'].status == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                    </a>



                                </span>
                            </div>
                            <!-- clients -->
                            <div style="margin-left: 2%;">
                                {% for client in experiments[exp]["clients"] %}

                                <div class="box-line" style="height: 40px;">
                                    <span class="left" style="width: 20%;"><a href="/admin/client_details/{{client[0].id}}">{{ client[0].name }}</a></span>

                                    <span class="right" style="width: 60%;">
                                        <div class="progress" style="height: 22px; width: 90%;" >
                                            <div id="progress-bar-{{client[0].id}}" class="progress-bar progress-bar-striped progress_exp" role="progressbar"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                                0%
                                            </div>
                                        </div>
                                    </span>

                                    <script>

                                        $(document).ready(function () {
                                                    // Start the background progress as soon as the page loads
                                                    $.ajax({
                                                        url: `/admin/progress/{{client[0].id}}`,
                                                        method: 'GET'
                                                    });

                                                    // Poll progress updates
                                                    function pollProgress() {
                                                        $.ajax({
                                                            url: '/admin/progress/{{client[0].id}}',
                                                            method: 'GET',
                                                            dataType: 'json',
                                                            success: function (data) {
                                                                const percentage = data.progress;
                                                                const progressBar = $('#progress-bar-{{client[0].id}}');

                                                                // Update the progress bar width and text
                                                                progressBar.css('width', percentage + '%');
                                                                progressBar.text(percentage + '%');

                                                                // If progress is less than 100, keep polling
                                                                if (percentage < 100) {
                                                                    setTimeout(pollProgress, 500);
                                                                }
                                                            }
                                                        });
                                                    }

                                                    // Start polling immediately
                                                    pollProgress();
                                                });

                                    </script>

                                    <span class="right" style="width: 20%;">
                                        {% if client[1] != -1 %}
                                        <a class="link-tooltip"
                                           {% if  client[0].status == 0 and experiments[exp]['experiment'].running == 1 and client[1].elapsed_time == 0 %} href="/admin/run_client/{{ client[0].id }}/{{ client[0].id_exp }}" {% endif %} {% if client[0].status == 0 and experiments[exp]['experiment'].running == 1 and client[1].elapsed_time > 0 and client[1].elapsed_time < client[1].expected_duration_rounds %} href="/admin/resume_client/{{ client[0].id }}/{{ client[0].id_exp }}" {% endif %} title="Run">
                                            <i class="mdi mdi-play-box-outline {% if  client[0].status == 1  %}active {% elif experiments[exp]['experiment'].running == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                        </a>
                                        {% else %}
                                        <a class="link-tooltip"
                                           {% if  client[0].status == 0 and experiments[exp]['experiment'].running == 1 %} href="/admin/run_client/{{ client[0].id }}/{{ client[0].id_exp }}" {% endif %} title="Run">
                                            <i class="mdi mdi-play-box-outline {% if  client[0].status == 1  %}active {% elif experiments[exp]['experiment'].running == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                        </a>
                                        {% endif %}

                                        <a class="link-tooltip" {% if  client[0].status == 1 %} href="/admin/pause_client/{{ client[0].id }}/{{ client[0].id_exp }}" {% endif %} title="Pause">
                                            <i class="mdi mdi-pause {% if  client[0].status == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                        </a>

                                        <a class="link-tooltip" {% if  client[0].status == 1 %} href="/admin/stop_client/{{ client[0].id }}/{{ client[0].id_exp }}" {% endif %} title="Stop">
                                            <i class="mdi mdi-stop {% if  client[0].status == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                        </a>

                                        <a class="link-tooltip" {% if  client[0].status == 0 and experiments[exp]['experiment'].running == 1 %} href="/admin/reset_client/{{ client[0].id }}" {% endif %} title="Reset">
                                            <i class="mdi mdi-backup-restore {% if  experiments[exp]['experiment'].running == 0 %} disabled {% endif %}" style="font-size: 24px;"></i>
                                        </a>
                                    </span>

                                </div>
                                {% endfor %}

                            </div>
                            <hr style="margin-bottom: 0px; margin-top: 0px;">
                            {% endfor %}

                        </div>

                    </div>

                </div>

                <!--Dashboard column-->

            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}