<div class="dashboard-toolbar">
    <h1 class="title is-4"></h1>
    <div class="actions">
        <label class="theme-toggle">
            <input type="checkbox"/>
            <span class="toggler">
          <span class="dark">
            <i data-feather="moon"></i>
          </span>
                        <span class="light">
            <i data-feather="sun"></i>
          </span>
                        </span>
        </label>
        <div class="buttons">
            <a class="button is-solid live-button has-icon" href="/admin/join_simulation">
                <i data-feather="video"></i>
                <span>Join Active Simulation</span>
            </a>
        </div>
    </div>
</div>