<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title>Y Social | Dashboard</title>
    <link rel="icon" type="image/png') }}" href="{{ url_for('static', filename='assets/img/favicon.png') }}"/>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/vendor/fontisto/css/fontisto/fontisto-brands.min.css') }}" rel="stylesheet"/>



    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/core.css') }}"/>

    <link href="{{ url_for('static', filename='assets/vendor/css/gridjs-mermaid.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='assets/vendor/js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/jquery-3.6.0.min.js') }}"></script>
       <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/bootstrap.min.css') }}">
</head>

<body>

<script id="__bs_script__">//<![CDATA[
(function () {
    try {
        var script = document.createElement('script');
        if ('async') {
            script.async = true;
        }
        script.src = "{{ url_for('static', filename='/assets/js/browser-sync-client.js') }}";
        if (document.body) {
            document.body.appendChild(script);
        } else if (document.head) {
            document.head.appendChild(script);
        }
    } catch (e) {
        console.error("Browsersync: could not append script tag", e);
    }
})()
//]]></script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQHJPZP" height="0" width="0"
            style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Pageloader -->
<div class="pageloader"></div>
<div class="infraloader is-active"></div>
<div class="dashboard-aside">
    <a class="dashboard-aside-brand">
        <img
                class="logo light-image"
                src="{{ url_for('static', filename='assets/img/vector/logo/Ysocial_l.png') }}"
                width="112"
                height="28"
                alt=""
        />
        <img
                class="logo dark-image"
                src="{{ url_for('static', filename='assets/img/vector/logo/Ysocial_I_white.png') }}"
                width="112"
                height="28"
                alt=""
        />
    </a>

    <div class="dashboard-aside-body">
        <hr>
        <a href="/admin/dashboard" class="dashboard-aside-link">
            <div>
                <i data-feather="home"></i>
                <span>Home</span>
            </div>
        </a>

        <a href="/admin/users" class="dashboard-aside-link">
            <div>
                <i data-feather="users"></i>
                <span>Users</span>
            </div>
        </a>
        <hr>
           {% if ollamas["status"] and  ollamas["installed"] %}
        <a href="/admin/experiments" class="dashboard-aside-link">
            <div>
                <i data-feather="server"></i>
                <span>Experiments</span>
            </div>
        </a>
        <a href="/admin/populations" class="dashboard-aside-link">
            <div>
                <i data-feather="codesandbox"></i>
                <span>Populations</span>
            </div>
        </a>
        <hr>
        <a href="/admin/agents" class="dashboard-aside-link">
            <div>
                <i data-feather="cpu"></i>
                <span>Synthetic Agents</span>
            </div>
        </a>
        <a href="/admin/pages" class="dashboard-aside-link">
            <div>
                <i data-feather="file"></i>
                <span>Pages</span>
            </div>
        </a>

        <hr>
        {% endif %}
    </div>
    <div class="dashboard-aside-end">
        <a href="/admin/miscellanea" class="dashboard-aside-link">
            <div>
                <i data-feather="more-horizontal"></i>
                <span>Miscellanea</span>
            </div>
        </a>
        <a href="/admin/about" class="dashboard-aside-link">
            <div>
                <i data-feather="compass"></i>
                <span>About</span>
            </div>
        </a>
        <!--<a href="navbar-v1-profile-main.html" class="dashboard-aside-link">
            <img class="link-avatar" src="https://via.placeholder.com/400x400" data-demo-src="assets/img/avatars/jenna.png" alt="" />
        </a>-->
    </div>
</div>




