{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">
            <div class="columns">
                <div class="column is-12">

                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Available Pages</h3>

                        <div class="box-content">


                            <div id="table"></div>

                            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                            <script>
                                const tableDiv = document.getElementById('table');

                                const updateUrl = (prev, query) => {
                                    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
                                };

                                const editableCellAttributes = (data, row, col) => {
                                    if (row) {
                                        return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
                                    } else {
                                        return {};
                                    }
                                };

                                new gridjs.Grid({
                                    columns: [
                                        {id: 'id', 'hidden': true},
                                        {id: 'name', name: 'Name', 'attributes': editableCellAttributes},
                                        {id: 'descr', name: 'Description'},
                                        {id: 'page_type', name: 'Type'},
                                        {id: 'keywords', name: 'Keywords'},
                                        {
                                            id: 'details', name: 'Details', formatter: (cell, row) => {
                                                return gridjs.html(`<a href="/admin/page_details/${row.cells[0].data}">Details</a>`);
                                            }
                                        },
                                    ],
                                    server: {
                                        url: '/admin/pages_data',
                                        then: results => results.data,
                                        total: results => results.total,
                                    },
                                    search: {
                                        enabled: true,
                                        server: {
                                            url: (prev, search) => {
                                                return updateUrl(prev, {search});
                                            },
                                        },
                                    },
                                    sort: {
                                        enabled: true,
                                        multiColumn: true,
                                        server: {
                                            url: (prev, columns) => {
                                                const columnIds = ['id', 'name', 'type', 'description'];
                                                const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                                                return updateUrl(prev, {sort});
                                            },
                                        },
                                    },
                                    pagination: {
                                        enabled: true,
                                        server: {
                                            url: (prev, page, limit) => {
                                                return updateUrl(prev, {start: page * limit, length: limit});
                                            },
                                        },
                                    },
                                }).render(tableDiv);

                                let savedValue;

                                tableDiv.addEventListener('focusin', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        savedValue = ev.target.textContent;
                                    }
                                });

                                tableDiv.addEventListener('focusout', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (savedValue !== ev.target.textContent) {
                                            fetch('/admin/pages_data', {
                                                method: 'POST',
                                                headers: {'Content-Type': 'application/json'},
                                                body: JSON.stringify({
                                                    id: ev.target.dataset.elementId,
                                                    [ev.target.dataset.columnId]: ev.target.textContent
                                                }),
                                            });
                                        }
                                        savedValue = undefined;
                                    }
                                });

                                tableDiv.addEventListener('keydown', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (ev.key === 'Escape') {
                                            ev.target.textContent = savedValue;
                                            ev.target.blur();
                                        } else if (ev.key === 'Enter') {
                                            ev.preventDefault();
                                            ev.target.blur();
                                        }
                                    }
                                });
                            </script>

                        </div>
                    </div>
                </div>

            </div>

            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Create Page</h3>
                        <div class="box-content">
                            <form action="/admin/create_page" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">Page Name</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="name"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Description</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="descr"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Type</span>
                                        <div class="select">
                                            <select name="page_type">
                                                <option value="media">Media Page</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">LLM</span>
                                        <div class="select">
                                            <select name="pg_type">
                                                <option value=""></option>
                                                    {% for model in models %}
                                                    <option value="{{ model }}">{{ model }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Political Leaning</span>
                                        <div class="select">
                                            <select name="leaning">
                                                <option value=""></option>
                                                {% for leaning in leanings %}
                                                <option value="{{ leaning.leaning }}">{{ leaning.leaning }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">RSS Feed</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="feed"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Keywords</span>
                                        <span class="right" style="width: 70%;">
                                            <div class="tags-input" style="width: 100%;">
                                            <ul id="tags"></ul>
                                            <input type="hidden" id="tags-hidden" name="tags">
                                            <input type="text" id="input-tag" placeholder="Enter keywords" style="width: 100%;"/>
                                        </div>

                                        <script>

                                            const tags = document.getElementById('tags');
    const input = document.getElementById('input-tag');
    const hiddenInput = document.getElementById('tags-hidden');
    const tagList = [];

    input.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const tagContent = input.value.trim();
            if (tagContent !== '' && !tagList.includes(tagContent)) {
                tagList.push(tagContent);
                const tag = document.createElement('li');
                tag.innerHTML = `${tagContent} <button class="delete-button">X</button>`;
                tags.appendChild(tag);
                hiddenInput.value = tagList.join(',');
                input.value = '';
            }
        }
    });

    tags.addEventListener('click', function (event) {
        if (event.target.classList.contains('delete-button')) {
            const tagText = event.target.parentNode.textContent.slice(0, -1);
            tagList.splice(tagList.indexOf(tagText), 1);
            hiddenInput.value = tagList.join(',');
            event.target.parentNode.remove();
        }
    });
                                        </script>

                                        </span>
                                    </div>

                                    <div class="box-line">
                                        <span class="left">Logo Image<small>(public url)</small></span>
                                        <span class="right" style="width: 70%;"><input type="text" name="logo"
                                                                                       class="input"></span>
                                    </div>

                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Dashboard box-->

                </div>


                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Box-->
                    <div class="dashboard-box is-compact">
                        <h3 class="title is-5 is-thin">Guide</h3>
                        <div class="help-block">

                            <p>
                                <b>Pages</b>
                                are a particular type of synthetic agent that can be used to display information to users.
                                Each page has a name, description, type, and keywords.
                            </p>

                            <p>
                                <b>News.</b><br>
                                Each News Page is associated with an RSS feed - the feed is used to populate, in real time, the page timeline with real-world articles.
                                <br><br>
                                <b>Articles'</b> topics are annotated by the LLM: such tagging allows to dynamically introduce novel topics among the interests of the agents that interact with the news source.

                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}