{% include "admin/head.html" %}

 <div class="view-wrapper is-dashboard">
        <!--Dashboard container-->
        <div id="creator-dashboard" class="dashboard-container">
            <!--Toolbar-->
            {% include "admin/dash_head.html" %}

            <div class="dashboard-body">
                <div class="columns">
                    <div class="column is-12">
                        <div class="dashboard-box">
                            <h3 class="title is-5 is-thin">Available Populations</h3>

                            <div class="box-content">


                                <div id="table"></div>

                                <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                                <script>
                                      const tableDiv = document.getElementById('table');

                                      const updateUrl = (prev, query) => {
                                        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
                                      };

                                      const editableCellAttributes = (data, row, col) => {
                                          if (row) {
                                            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
                                          }
                                          else {
                                            return {};
                                          }
                                      };

                                      new gridjs.Grid({
                                        columns: [
                                          { id: 'id', 'hidden': true },
                                          { id: 'name', name: 'Name', 'attributes': editableCellAttributes },
                                          { id: 'descr', name: 'Description' },
                                            {id: 'details', name: 'Details', formatter: (cell, row) => {
                                                return gridjs.html(`<a href="/admin/population_details/${row.cells[0].data}">Details</a>`);
                                            }},
                                        ],
                                        server: {
                                          url: '/admin/populations_data',
                                          then: results => results.data,
                                          total: results => results.total,
                                        },
                                        search: {
                                          enabled: true,
                                          server: {
                                            url: (prev, search) => {
                                              return updateUrl(prev, {search});
                                            },
                                          },
                                        },
                                        sort: {
                                          enabled: true,
                                          multiColumn: true,
                                          server: {
                                            url: (prev, columns) => {
                                              const columnIds = ['id', 'name', 'descr'];
                                              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                                              return updateUrl(prev, {sort});
                                            },
                                          },
                                        },
                                        pagination: {
                                          enabled: true,
                                          server: {
                                            url: (prev, page, limit) => {
                                              return updateUrl(prev, {start: page * limit, length: limit});
                                            },
                                          },
                                        },
                                      }).render(tableDiv);

                                      let savedValue;

                                      tableDiv.addEventListener('focusin', ev => {
                                        if (ev.target.tagName === 'TD') {
                                          savedValue = ev.target.textContent;
                                        }
                                      });

                                      tableDiv.addEventListener('focusout', ev => {
                                        if (ev.target.tagName === 'TD') {
                                          if (savedValue !== ev.target.textContent) {
                                            fetch('/admin/populations_data', {
                                              method: 'POST',
                                              headers: {'Content-Type': 'application/json'},
                                              body: JSON.stringify({
                                                id: ev.target.dataset.elementId,
                                                [ev.target.dataset.columnId]: ev.target.textContent
                                              }),
                                            });
                                          }
                                          savedValue = undefined;
                                        }
                                      });

                                      tableDiv.addEventListener('keydown', ev => {
                                        if (ev.target.tagName === 'TD') {
                                          if (ev.key === 'Escape') {
                                            ev.target.textContent = savedValue;
                                            ev.target.blur();
                                          }
                                          else if (ev.key === 'Enter') {
                                            ev.preventDefault();
                                            ev.target.blur();
                                          }
                                        }
                                      });
                                </script>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <!--Dashboard column-->
                    <div class="column is-8">

                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                        {% endfor %}

                        <!--Dashboard box-->
                        <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Load Population from file</h3>
                        <div class="box-content">
                            <form action="/admin/upload_population" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">File (json)</span>
                                        <span class="right"><input type="file" id="population_file" name="population_file"
                                                                   class="input_file"></span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Upload
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                        <div class="dashboard-box">
                            <h3 class="title is-5 is-thin">Create Empty Population</h3>
                            <div class="box-content">
                                <form action="/admin/create_population_empty" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">Population Name</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="empty_population_name"  class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Description</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="empty_population_descr" class="input"></span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>

                        <div class="dashboard-box">
                            <h3 class="title is-5 is-thin">Create Synthetic Population</h3>
                            <div class="box-content">
                                <form action="/admin/create_population" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">Population Name</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="pop_name"  class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Description</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="pop_descr" class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Population Size</span>
                                        <div class="slider-timeline">
                                            <input name="n_agents" type="text" value="100" class="input">
                                       <!-- <input name="n_agents" type="range" value="100" min="1" max="1000" oninput="this.nextElementSibling.value = this.value"> -->
                                        <!--<output>100</output>-->
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">LLM model</span>
                                        <div class="select">
                                                <select name="user_type">
                                                    <option value=""></option>
                                                    {% for model in models %}
                                                    <option value="{{ model }}">{{ model }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Content RecSys</span>
                                        <div class="select">
                                            <select name="recsys_type">
                                                <option value="ContentRecSys">Random</option>
                                                <option value="ReverseChrono">(RC) Reverse Chrono</option>
                                                <option value="ReverseChronoPopularity">(RC) Popularity</option>
                                                <option value="ReverseChronoFollowers">(RC) Followers</option>
                                                <option value="ReverseChronoFollowersPopularity">(RC)
                                                    Followers-Popularity
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Friendship RecSys</span>
                                        <div class="select">
                                            <select name="frecsys_type">
                                                <option value="FollowRecSys">Random</option>
                                                <option value="CommonNeighbors">Common Neighbors</option>
                                                <option value="Jaccard">Jaccard</option>
                                                <option value="AdamicAdar">Adamic Adar</option>
                                                <option value="PreferentialAttachment">Preferential Attachment</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Age Range</span>
                                        <div class="slider-timeline">
                                        <input name="age_min" type="range" value="18" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
                                        <output>18</output>
                                            <input name="age_max" type="range" value="60" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
                                        <output>60</output>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4><b>Categorical Attributes</b></h4><small>Lists as comma separated values</small>
                                    <div class="box-line">
                                        <span class="left">Education Levels</span>
                                            <span class="right" style="width: 70%;">
                                                <div class="select">
                                                    <select multiple size="2" name="education_levels">
                                                        <option value="high school">High school</option>
                                                        <option value="bachelor">Bachelor</option>
                                                        <option value="master">Master</option>
                                                        <option value="phd">Ph.D.</option>
                                                    </select>
                                                </div>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="box-line" style="height: 100px; margin-bottom: 20px;">
                                        <span class="left">Political Leanings</span>
                                        <span class="right" style="width: 70%;">
                                            <div class="select">
                                            <select multiple size="2" name="political_leanings">
                                                <option value="democrat">Democrat</option>
                                                <option value="republican">Republican</option>
                                                <option value="neutral">Neutral</option>
                                            </select>
                                            </div>
                                         <!--   <input type="text" name="political_leanings" class="input" value="democrat, republican"> -->

                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Nationalities</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="nationalities" class="input" value="American, Italian"></span>
                                    </div>
                                     <div class="box-line">
                                        <span class="left">Spoken Languages</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="languages" class="input" value="English, Italian"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Interests</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="interests" class="input" value="Sport, Politics, Smurfs"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Toxicity Levels</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="toxicity_levels" class="input" value="none, low, medium"></span>
                                    </div>

                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>


                        <!--Dashboard box-->

                    </div>


                    <!--Dashboard column-->
                    <div class="column is-4">
                        <!--Box-->
                        <div class="dashboard-box is-compact">
                            <h3 class="title is-5 is-thin">Guide</h3>
                            <div class="help-block">

                                <p>
                                    <b>What is a Population?</b>
                                    A population is a group of agents/pages that are used in a simulation.
                                    Each simulation can have multiple populations.
                                </p>
                                <br>
                                    <p>
                                        <b>Empty Populations</b>
                                         are used to create populations from scratch.
                                        Once created, you can add agents to the them.
                                </p>
                                <br>
                                <p>
                                    <b>Synthetic Populations</b>
                                     are created using a a predefined set of parameters.
                                    Leveraging the parameters provided as input, agents are generated and added to the population.
                                </p>
                                <br>
                                <p>
                                    <b>LLM</b>
                                    Although for synthetic populations it is specified an LLM to simulate its agents it is always possible to add agents served by other LLMs.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

{% include "admin/footer.html" %}