{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">
            <div class="columns">
                <div class="column is-12">

                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Available Experiments</h3>

                        <div class="box-content">


                            <div id="table"></div>

                            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                            <script>
                                const tableDiv = document.getElementById('table');

                                const updateUrl = (prev, query) => {
                                    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
                                };

                                const editableCellAttributes = (data, row, col) => {
                                    if (row) {
                                        return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
                                    } else {
                                        return {};
                                    }
                                };

                                new gridjs.Grid({
                                    columns: [
                                        {id: 'idexp', 'hidden': true},
                                        {id: 'exp_name', name: 'Name', 'attributes': editableCellAttributes},
                                        {id: 'exp_descr', name: 'Description', sort: false},
                                        {id: 'owner', name: 'Owner', sort: false},
                                        {id: 'web', name: 'Web Interface', sort: true},
                                        {id: 'running', name: 'YServer Status', sort: true},
                                        {
                                            id: 'details', name: 'Details', sort: false, formatter: (cell, row) => {
                                                return gridjs.html(`<a href="/admin/experiment_details/${row.cells[0].data}">Details</a>`);
                                            }
                                        },
                                    ],
                                    server: {
                                        url: '/admin/experiments_data',
                                        then: results => results.data,
                                        total: results => results.total,
                                    },
                                    search: {
                                        enabled: true,
                                        server: {
                                            url: (prev, search) => {
                                                return updateUrl(prev, {search});
                                            },
                                        },
                                    },
                                    sort: {
                                        enabled: true,
                                        multiColumn: true,
                                        server: {
                                            url: (prev, columns) => {
                                                const columnIds = ['idexp', 'exp_name', 'exp_descr', 'owner', 'web', 'running'];
                                                const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                                                return updateUrl(prev, {sort});
                                            },
                                        },
                                    },
                                    pagination: {
                                        enabled: true,
                                        server: {
                                            url: (prev, page, limit) => {
                                                return updateUrl(prev, {start: page * limit, length: limit});
                                            },
                                        },
                                    },
                                }).render(tableDiv);

                                let savedValue;

                                tableDiv.addEventListener('focusin', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        savedValue = ev.target.textContent;
                                    }
                                });

                                tableDiv.addEventListener('focusout', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (savedValue !== ev.target.textContent) {
                                            fetch('/admin/experiments_data', {
                                                method: 'POST',
                                                headers: {'Content-Type': 'application/json'},
                                                body: JSON.stringify({
                                                    id: ev.target.dataset.elementId,
                                                    [ev.target.dataset.columnId]: ev.target.textContent
                                                }),
                                            });
                                        }
                                        savedValue = undefined;
                                    }
                                });

                                tableDiv.addEventListener('keydown', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (ev.key === 'Escape') {
                                            ev.target.textContent = savedValue;
                                            ev.target.blur();
                                        } else if (ev.key === 'Enter') {
                                            ev.preventDefault();
                                            ev.target.blur();
                                        }
                                    }
                                });
                            </script>

                        </div>
                    </div>

                </div>

            </div>

            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Upload Experiment</h3>
                        <div class="box-content">
                            <form action="/admin/upload_database" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">SQlite file path</span>
                                        <span class="right"><input type="file" id="sqlite" name="sqlite_filename"
                                                                   class="input_file"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">YServer configuration file</span>
                                        <span class="right"><input type="file" id="yserver_conf" name="yserver_filename"
                                                                   class="input_file"></span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Load Experiment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">New Experiment</h3>
                        <div class="box-content">
                            <form action="/admin/create_experiment" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">Name</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="exp_name"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Description</span>
                                        <span class="right" style="width: 70%;"><input type="textarea" name="exp_descr"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Owner</span>
                                        <span class="right" style="width: 70%;">
                                            <div class="select">
                                                <select name="owner">
                                                    {% for user in users %}
                                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Host</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="host"
                                                                                       class="input"
                                                                                       value="127.0.0.1"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Port</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="port"
                                                                                       class="input"
                                                                                       value="5000"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Perspective API<br> <small>(Toxicity annotation - optional)</small></span>
                                        <span class="right" style="width: 70%;"><input type="text" name="perspective_api"
                                                                                       class="input"
                                                                                       value=""></span>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Dashboard box-->
                    <!-- <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Available Experiments</h3>

                        <div class="box-content">

                            {% for exp in experiments %}
                            <div class="box-subscribers">

                                <div class="box-subscriber">
                                    <img class="subscriber-avatar" src="https://via.placeholder.com/300x300"
                                         data-demo-src="{{ url_for('static', filename='assets/img/icons/emoji/robot.svg') }}"
                                         data-user-popover="10" alt=""/>
                                    <div class="subscriber-meta" style="width: 80%;">
                                        <span class="meta-title">{{ exp.exp_name }}</span>
                                        <span class="meta-content">Description: {{ exp.exp_descr }}</span>
                                        <span class="meta-content">Owner: {{ exp.owner }} </span>

                                    </div>

                                    {% if exp.status==0 %}
                                    <a class="button is-solid primary-button_small green-button"
                                       href='/admin/select_experiment/{{ exp.idexp }}'>
                                        <div class="mdi mdi-play"></div>
                                    </a>
                                    {% endif %}
                                    {% if exp.status==1 %}
                                    <a class="button is-solid primary-button_small" href="/admin/join_simulation">
                                        <div class="mdi mdi-plus"></div>
                                    </a>
                                    {% endif %}
                                    <a class="button is-solid primary-button_small red-button"
                                       href="/admin/delete_simulation/{{ exp.idexp }}">
                                        <div class="mdi mdi-delete"></div>
                                    </a>
                                </div>

                            </div>
                            {% endfor %}

                            <div class="link-wrap">
                                <a class="link">
                                    <span>View All</span>
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>


                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Box-->
                    <div class="dashboard-box is-compact">
                        <h3 class="title is-5 is-thin">Guide</h3>
                        <div class="help-block">

                            <p>
                                <b>What is an Experiment?</b>
                                An experiment is the core of the YSocial platform.
                                It composes of two elements: an YServer (coordinating agent interactions) and a YClient (simulating synthetic agents).
                            </p>
                            <br>


                            <p>
                               <b>Uploading an Experiment.</b>
                                To upload an experiment, select the SQlite database and the YServer configuration file generated by a simulation.
                                Uploaded experiment cannot be resumed - they can only be used for data analysis.
                            </p>
                            <br>

                            <p>
                                <b>Creating an Experiment.</b>
                                To create a new experiment, provide a name, description, owner, host, and port.
                                <br><br>
                                Once created the experiment it will be possible to: (i) configure it, (ii) allocate synthetic agents to it and, (ii) create clients to interact with it.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}