{% include "admin/head.html" %}

<div class="view-wrapper is-dashboard">
    <!--Dashboard container-->
    <div id="creator-dashboard" class="dashboard-container">
        <!--Toolbar-->
        {% include "admin/dash_head.html" %}

        <div class="dashboard-body">
            <div class="columns">
                <!--Dashboard column-->
                <div class="column is-8">
                    <!--Dashboard box-->

                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Registered Users</h3>

                        <div class="box-content">


                            <div id="table"></div>

                            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                            <script>
                                const tableDiv = document.getElementById('table');

                                const updateUrl = (prev, query) => {
                                    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
                                };

                                const editableCellAttributes = (data, row, col) => {
                                    if (row) {
                                        return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
                                    } else {
                                        return {};
                                    }
                                };

                                new gridjs.Grid({
                                    columns: [
                                        {id: 'id', 'hidden': true},
                                        {id: 'username', name: 'Username', 'attributes': editableCellAttributes},
                                        {id: 'email', name: 'Email'},
                                        {
                                            id: 'password',
                                            name: 'Password',
                                            'hidden': true,
                                            sort: false,
                                            'attributes': editableCellAttributes
                                        },
                                        {id: 'last_seen', name: 'Last Seen', sort: false, 'hidden': true},
                                        {id: 'role', name: 'Role', sort: true, 'attributes': editableCellAttributes},
                                        {
                                            id: 'details', name: 'Details', formatter: (cell, row) => {
                                                return gridjs.html(`<a href="/admin/user_details/${row.cells[0].data}">Details</a>`);
                                            }
                                        },
                                    ],
                                    server: {
                                        url: '/admin/user_data',
                                        then: results => results.data,
                                        total: results => results.total,
                                    },
                                    search: {
                                        enabled: true,
                                        server: {
                                            url: (prev, search) => {
                                                return updateUrl(prev, {search});
                                            },
                                        },
                                    },
                                    sort: {
                                        enabled: true,
                                        multiColumn: true,
                                        server: {
                                            url: (prev, columns) => {
                                                const columnIds = ['id', 'username', 'email', 'password', 'last_seen', 'role'];
                                                const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                                                return updateUrl(prev, {sort});
                                            },
                                        },
                                    },
                                    pagination: {
                                        enabled: true,
                                        server: {
                                            url: (prev, page, limit) => {
                                                return updateUrl(prev, {start: page * limit, length: limit});
                                            },
                                        },
                                    },
                                }).render(tableDiv);

                                let savedValue;

                                tableDiv.addEventListener('focusin', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        savedValue = ev.target.textContent;
                                    }
                                });

                                tableDiv.addEventListener('focusout', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (savedValue !== ev.target.textContent) {
                                            fetch('/admin/user_data', {
                                                method: 'POST',
                                                headers: {'Content-Type': 'application/json'},
                                                body: JSON.stringify({
                                                    id: ev.target.dataset.elementId,
                                                    [ev.target.dataset.columnId]: ev.target.textContent
                                                }),
                                            });
                                        }
                                        savedValue = undefined;
                                    }
                                });

                                tableDiv.addEventListener('keydown', ev => {
                                    if (ev.target.tagName === 'TD') {
                                        if (ev.key === 'Escape') {
                                            ev.target.textContent = savedValue;
                                            ev.target.blur();
                                        } else if (ev.key === 'Enter') {
                                            ev.preventDefault();
                                            ev.target.blur();
                                        }
                                    }
                                });
                            </script>

                        </div>
                    </div>

                    <div class="dashboard-box">
                        <h3 class="title is-5 is-thin">Add User</h3>
                        <div class="box-content">
                            <form action="/admin/add_user" enctype="multipart/form-data" method="POST">
                                <div class="box-lines">

                                    <div class="box-line">
                                        <span class="left">Username</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="username"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Password</span>
                                        <span class="right" style="width: 70%;"><input type="password" name="password"
                                                                                       class="input"></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Email</span>
                                        <span class="right" style="width: 70%;"><input type="text" name="email"
                                                                                       class="input" value=""></span>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">Role</span>
                                        <div class="select">
                                            <select name="role">
                                                <option value="Admin">admin</option>
                                                <option value="Admin">user</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-line">
                                        <span class="left">LLM <small>(for text annotation)</small></span>
                                        <div class="select">
                                            <select name="llm">
                                                <option value=""></option>
                                                    {% for model in m %}
                                                    <option value="{{ model }}">{{ model }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-line">
                                        <span class="left">Profile Picture <small>(url, optional)</small></span>
                                        <span class="right" style="width: 70%;"><input type="text" name="profile_pic"
                                                                                       class="input" value=""></span>
                                    </div>
                                <div class="button-wrap">
                                    <button class="button is-solid primary-button is-fullwidth">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Dashboard box-->

                </div>


                <!--Dashboard column-->
                <div class="column is-4">
                    <!--Box-->
                    <div class="dashboard-box is-compact">
                        <h3 class="title is-5 is-thin">Guide</h3>
                        <div class="help-block">

                            <p>
                                YSocial allows for two types of users:
                                <br><br>
                                <b>Admins</b> have full access to the system and can create, edit, and delete users, experiments, and populations.
                                <br><br>
                                <b>Users</b> can only view the system and take part in hybrid simulations.
                            </p>
                            <br>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{% include "admin/footer.html" %}