{%  include "header.html" %}

<div class="view-wrapper is-full" >
        <!-- /partials/settings/settings-sidebar.html -->

        <div class="settings-wrapper" style="justify-content: center; align-items: center; display: grid; margin-left: 0px;">
            <!-- /partials/settings/sections/general-settings.html -->
            <div id="general-settings" class="settings-section is-active" style="max-width: 1000px;">
                <div class="settings-panel">
                    <div class="title-wrap">
                        <h2>General Settings</h2>

                    </div>
                    <div class="settings-form-wrapper">
                        <div class="settings-form">
                          <form action="/update_profile_data/{{ user.id }}" enctype="multipart/form-data" method="POST">
                            <div class="columns is-multiline">
                                <div class="column is-6">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Username</label>
                                        <div class="control has-icon">
                                            <input name="username" type="text" class="input is-fade" value="{{ user.username }}" disabled>
                                            <div class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Email</label>
                                        <div class="control has-icon">
                                            <input name="email" type="text" class="input is-fade" value="{{ user.email }}">
                                            <div class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="field field-group">
                                        <label>Age</label>
                                        <div class="control">
                                            <input name="age" type="text" class="input is-fade" value="{{ user.age }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="field field-group">
                                        <label>Gender</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="gender">
                                                  <option value="" {{ 'selected' if user.gender == "" else '' }}></option>
                                                  <option value="male" {{ 'selected' if user.gender == "male" else '' }}>Male</option>
                                                  <option value="female" {{ 'selected' if user.gender == "female" else '' }}>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field field-group">
                                        <label>Nationality</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="nationality">
                                                  <option value=""></option>
                                                <option value="American" {{ 'selected' if user.nationality == "American" else '' }}>American</option>
                                                <option value="Argentine" {{ 'selected' if user.nationality == "Argentine" else '' }}>Argentine</option>
                                                <option value="Armenian" {{ 'selected' if user.nationality == "Armenian" else '' }}>Armenian</option>
                                                <option value="Austrian" {{ 'selected' if user.nationality == "Austrian" else '' }}>Austrian</option>
                                                <option value="Azerbaijani" {{ 'selected' if user.nationality == "Azerbaijani" else '' }}>Azerbaijani</option>
                                                <option value="Bangladeshi" {{ 'selected' if user.nationality == "Bangladeshi" else '' }}>Bangladeshi</option>
                                                <option value="Belgian" {{ 'selected' if user.nationality == "Belgian" else '' }}>Belgian</option>
                                                <option value="Brazilian" {{ 'selected' if user.nationality == "Brazilian" else '' }}>Brazilian</option>
                                                <option value="British" {{ 'selected' if user.nationality == "British" else '' }}>British</option>
                                                <option value="Bulgarian" {{ 'selected' if user.nationality == "Bulgarian" else '' }}>Bulgarian</option>
                                                <option value="Chilean" {{ 'selected' if user.nationality == "Chilean" else '' }}>Chilean</option>
                                                <option value="Chinese" {{ 'selected' if user.nationality == "Chinese" else '' }}>Chinese</option>
                                                <option value="Colombian" {{ 'selected' if user.nationality == "Colombian" else '' }}>Colombian</option>
                                                <option value="Croatian" {{ 'selected' if user.nationality == "Croatian" else '' }}>Croatian</option>
                                                <option value="Czech" {{ 'selected' if user.nationality == "Czech" else '' }}>Czech</option>
                                                <option value="Danish" {{ 'selected' if user.nationality == "Danish" else '' }}>Danish</option>
                                                <option value="Dutch" {{ 'selected' if user.nationality == "Dutch" else '' }}>Dutch</option>
                                                <option value="Estonian" {{ 'selected' if user.nationality == "Estonian" else '' }}>Estonian</option>
                                                <option value="Finnish" {{ 'selected' if user.nationality == "Finnish" else '' }}>Finnish</option>
                                                <option value="French" {{ 'selected' if user.nationality == "French" else '' }}>French</option>
                                                <option value="Georgian" {{ 'selected' if user.nationality == "Georgian" else '' }}>Georgian</option>
                                                <option value="German" {{ 'selected' if user.nationality == "German" else '' }}>German</option>
                                                <option value="Greek" {{ 'selected' if user.nationality == "Greek" else '' }}>Greek</option>
                                                <option value="Hungarian" {{ 'selected' if user.nationality == "Hungarian" else '' }}>Hungarian</option>
                                                <option value="Indian" {{ 'selected' if user.nationality == "Indian" else '' }}>Indian</option>
                                                <option value="Indonesian" {{ 'selected' if user.nationality == "Indonesian" else '' }}>Indonesian</option>
                                                <option value="Iranian" {{ 'selected' if user.nationality == "Iranian" else '' }}>Iranian</option>
                                                <option value="Irish" {{ 'selected' if user.nationality == "Irish" else '' }}>Irish</option>
                                                <option value="Israeli" {{ 'selected' if user.nationality == "Israeli" else '' }}>Israeli</option>
                                                <option value="Italian" {{ 'selected' if user.nationality == "Italian" else '' }}>Italian</option>
                                                <option value="Japanese" {{ 'selected' if user.nationality == "Japanese" else '' }}>Japanese</option>
                                                <option value="Latvian" {{ 'selected' if user.nationality == "Latvian" else '' }}>Latvian</option>
                                                <option value="Lithuanian" {{ 'selected' if user.nationality == "Lithuanian" else '' }}>Lithuanian</option>
                                                <option value="Mexican" {{ 'selected' if user.nationality == "Mexican" else '' }}>Mexican</option>
                                                <option value="Nepalese" {{ 'selected' if user.nationality == "Nepalese" else '' }}>Nepalese</option>
                                                <option value="New Zealander" {{ 'selected' if user.nationality == "New Zealander" else '' }}>New Zealander</option>
                                                <option value="Norwegian" {{ 'selected' if user.nationality == "Norwegian" else '' }}>Norwegian</option>
                                                <option value="Palestinian" {{ 'selected' if user.nationality == "Palestinian" else '' }}>Palestinian</option>
                                                <option value="Polish" {{ 'selected' if user.nationality == "Polish" else '' }}>Polish</option>
                                                <option value="Portuguese" {{ 'selected' if user.nationality == "Portuguese" else '' }}>Portuguese</option>
                                                <option value="Romanian" {{ 'selected' if user.nationality == "Romanian" else '' }}>Romanian</option>
                                                <option value="Russian" {{ 'selected' if user.nationality == "Russian" else '' }}>Russian</option>
                                                <option value="Saudi" {{ 'selected' if user.nationality == "Saudi" else '' }}>Saudi</option>
                                                <option value="Slovak" {{ 'selected' if user.nationality == "Slovak" else '' }}>Slovak</option>
                                                <option value="Slovenian" {{ 'selected' if user.nationality == "Slovenian" else '' }}>Slovenian</option>
                                                <option value="South African" {{ 'selected' if user.nationality == "South African" else '' }}>South African</option>
                                                <option value="South Korean" {{ 'selected' if user.nationality == "South Korean" else '' }}>South Korean</option>
                                                <option value="Spanish" {{ 'selected' if user.nationality == "Spanish" else '' }}>Spanish</option>
                                                <option value="Swedish" {{ 'selected' if user.nationality == "Swedish" else '' }}>Swedish</option>
                                                <option value="Swiss" {{ 'selected' if user.nationality == "Swiss" else '' }}>Swiss</option>
                                                <option value="Taiwanese" {{ 'selected' if user.nationality == "Taiwanese" else '' }}>Taiwanese</option>
                                                <option value="Thai" {{ 'selected' if user.nationality == "Thai" else '' }}>Thai</option>
                                                <option value="Turkish" {{ 'selected' if user.nationality == "Turkish" else '' }}>Turkish</option>
                                                <option value="Ukrainian" {{ 'selected' if user.nationality == "Ukrainian" else '' }}>Ukrainian</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                  <div class="field field-group">
                                        <label>Spoken Language</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="language">
                                                  <option value="" ></option>
                                                  <option value="English" {{ 'selected' if user.language == "English" else '' }}>English</option>
                                                  <option value="Italian" {{ 'selected' if user.language == "Italian" else '' }}>Italian</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Field-->
                                </div>

                                <div class="column is-12">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Political Leaning</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="leaning">
                                                  <option value="none"  {{ 'selected' if user.leaning == "none" else '' }}></option>
                                                  <option value="democrat" {{ 'selected' if user.leaning == "democrat" else '' }}>Democrat</option>
                                                  <option value="republican"  {{ 'selected' if user.leaning == "republican" else '' }}>Republican</option>
                                                  <option value="centrist"  {{ 'selected' if user.leaning == "centrist" else '' }}>Centrist</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field field-group">
                                        <label>Education Level</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="education_level">
                                                  <option value=""></option>
                                                  <option value="high school" {{ 'selected' if user.education_level == "high school" else '' }}>High School</option>
                                                <option value=" bachelor" {{ 'selected' if user.education_level == " bachelor" else '' }}>Bachelor</option>
                                                <option value=" master" {{ 'selected' if user.education_level == " master" else '' }}>Master</option>
                                                <option value=" phd" {{ 'selected' if user.education_level == " phd" else '' }}>PhD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                  <div class="field field-group">
                                        <label>Profile Picture <small>(url)</small></label>
                                        <input name="profile_pic" type="text" class="input is-fade" value="{{ profile_pic }}">

                                    </div>
                                </div>

                                <div class="column is-12">
                                    <!--Field-->
                                    <div class="form-text">
                                        <p>
                                            You can update the Recommender systems that filter the content you see and the users you might be interested to follow.
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Follow Recommender</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="frecsys_type">
                                                  <option value="FollowRecSys" {{ 'selected' if user.frecsys_type == "FollowRecSys" else '' }}>Random</option>
                                                  <option value="CommonNeighbors" {{ 'selected' if user.frecsys_type == "CommonNeighbors" else '' }}>Common Neighbors</option>
                                                  <option value="Jaccard" {{ 'selected' if user.frecsys_type == "Jaccard" else '' }}>Jaccard</option>
                                                  <option value="AdamicAdar" {{ 'selected' if user.frecsys_type == "AdamicAdar" else '' }}>Adamic Adar</option>
                                                  <option value="PreferentialAttachment" {{ 'selected' if user.frecsys_type == "PreferentialAttachment" else '' }}>Preferential Attachment</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Content Recommender</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="recsys_type">
                                                  <option value="ContentRecSys" {{ 'selected' if user.recsys_type == "ContentRecSys" else '' }}>Random</option>
                                                  <option value="ReverseChrono" {{ 'selected' if user.recsys_type == "ReverseChrono" else '' }}>(RC) Reverse Chrono</option>
                                                  <option value="ReverseChronoPopularity" {{ 'selected' if user.recsys_type == "ReverseChronoPopularity" else '' }}>(RCP) Popularity</option>
                                                  <option value="ReverseChronoFollowers" {{ 'selected' if user.recsys_type == "ReverseChronoFollowers" else '' }}>(RCF) Followers</option>
                                                  <option value="ReverseChronoFollowersPopularity" {{ 'selected' if user.recsys_type == "ReverseChronoFollowersPopularity" else '' }}>(FP)
                                                      Followers-Popularity
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="column is-12">
                                    <div class="buttons">
                                        <button class="button is-solid accent-button form-button">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                          </form>
                        </div>
                       <div class="illustration">
                            <img src="{{ url_for('static', filename='assets/img/robots/robot_v.png') }}" style="border-radius: 10px; filter: saturate(1); opacity: 0.6;">
                        </div>

                </div>
                </div>
            </div>

            <!-- /partials/settings/sections/security-settings.html -->
            <div id="security-settings" class="settings-section is-active" style="margin-top: 50px; max-width: 1000px;">

              <div class="settings-panel">

                    <div class="title-wrap">
                        <h2>Security</h2>
                    </div>
                    <form action="/update_password/{{ user.id }}" enctype="multipart/form-data" method="POST">

                      {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning" style="color: #856404; background-color: #fff3cd; border-color: #ffeeba;">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <div class="settings-form-wrapper">

                        <div class="settings-form">
                            <div class="columns is-multiline">

                                <div class="column is-12">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Current Password</label>
                                        <div class="control has-icon">
                                            <input name="current_password" type="password" class="input is-fade" value="{{ user.password}}">
                                            <div class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>New Password</label>
                                        <div class="control has-icon">
                                            <input name="new_password" type="password" class="input is-fade" value="">
                                            <div class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <!--Field-->
                                    <div class="field field-group">
                                        <label>Repeat Password</label>
                                        <div class="control has-icon">
                                            <input name="new_password2" type="password" class="input is-fade" value="">
                                            <div class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-12">
                                    <div class="buttons">
                                        <button class="button is-solid accent-button form-button">
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="illustration">
                            <img src="{{ url_for('static', filename='assets/img/robots/security.png') }}" style="border-radius: 10px; filter: saturate(1); opacity: 0.6;">
                        </div>
                    </div>
                      </form>
                </div>
            </div>

        </div>

    </div>



<!-- Concatenated js plugins and jQuery -->
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
<script src="https://js.stripe.com/v3/"></script>

<!-- Core js -->
<script src="{{ url_for('static', filename='assets/js/global.js') }}"></script>

<!-- Navigation options js -->
<script src="{{ url_for('static', filename='assets/js/navbar-v1.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-v2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-mobile.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-options.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/sidebar-v1.js') }}"></script>

<!-- Core instance js -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/touch.js') }}"></script>

<!-- Components js -->

<!-- Landing page js -->

<!-- Signup page js -->

<!-- Feed pages js -->
<!-- <script src="{{ url_for('static', filename='assets/js/feed.js') }}"></script> -->

<!-- profile js -->
<script src="{{ url_for('static', filename='assets/js/profile.js') }}"></script>

<!-- stories js -->

<!-- friends js -->

<!-- questions js -->

<!-- video js -->

<!-- events js -->

<!-- news js -->

<!-- shop js -->

<!-- inbox js -->

<!-- settings js -->

<!-- map page js -->
<script src="{{ url_for('static', filename='assets/js/async_updates.js') }}"></script>

<!-- elements page js -->

</body>
</html>