<div>
    {% include "reddit/components/comment.html" %}
    <div id="child-{{ thread['post_id'] }}">
        {% if thread['children'] and len(thread['children']) > 0 %}
        {% set current_depth = depth|default(1) %}
        {% for child_comment in thread['children'] %}
        <div class="reddit-comment-children" style="padding-left: 24px; border-left: 2px solid #d0d0d0; margin-left: 12px;">
            {% with thread=child_comment, depth=current_depth + 1 %}
            {% include "reddit/components/list.html" %}
            {% endwith %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
